<!DOCTYPE html>
<html>
<head>
<title>chat</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<ul id="message-list">

</ul>
<input type="text" id="message">
<button onClick="SendMSG()">send</button>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();
const messageList = document.querySelector("#message-list");
const inputMSG = document.querySelector("#message");
const dateNow = Date.now();
let startName = Date.now();

inputMSG.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    SendMSG();
  }
});

<!-----------------------start---------------------->
socket.emit("chat message", {
		msg: "---------เข้าร่วม----------",
		userId: dateNow,
		userName: startName
})
socket.emit("status-user", {
		msg: "",
		userId: "",
		userName: startName
})


function SendMSG(){
	socket.emit("chat message", {
		msg: inputMSG.value,
		userId: dateNow,
		userName: startName
	})
	inputMSG.value = "";
}

socket.on("chat message", (msgObject)=>{
	const message = document.createElement("li");
	const messageItem = document.createElement("span");
	messageItem.textContent = msgObject.userName +" : "+ msgObject.msg;
	if(msgObject.userId === dateNow){
		<!-- message.classList.add("right") -->
		messageItem.style.color = "red"
	}
	message.appendChild(messageItem);
	messageList.appendChild(message);
	
})
</script>
</body>

</html>