<!DOCTYPE html>
<html>
<head>
<title>chat</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<ul id="message-list">

</ul>
<input type="text" id="message">
<button onClick="SendMSG()">send</button>
<button onClick="ChangName()">Chang Name</button>
<input type="text" id="getChangName" style="display: none;">
<button onClick="confirmName()" id="btnConfirm" style="display: none;">ok</button>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();
const messageList = document.querySelector("#message-list");
const inputMSG = document.querySelector("#message");
const inputChangName = document.querySelector("#getChangName");
const btnConfirm = document.querySelector("#btnConfirm");
const dateNow = Date.now();
let newUserName = Date.now();

inputMSG.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    SendMSG();
  }
});

<!-----------------------start---------------------->
socket.emit("chat message", {
		msg: "---------เข้าร่วม----------",
		userId: dateNow,
		userName: newUserName
})
socket.emit("status-user", {
		msg: "",
		userId: "",
		userName: newUserName
})


function SendMSG(){
	socket.emit("chat message", {
		msg: inputMSG.value,
		userId: dateNow,
		userName: newUserName
	})
	inputMSG.value = "";
}
function ChangName(){
	inputChangName.style.display = "block"
	btnConfirm.style.display = "block"
}
function confirmName(){
	inputChangName.style.display = "none"
	btnConfirm.style.display = "none"
	
	newUserName = inputChangName.value;
	
	socket.emit("chat message", {
		msg: dateNow+" Chang Name ---> " + newUserName,
		userId: dateNow,
		userName: newUserName
})
	
	<!-- socket.on("chat message", (msgObject)=>{ -->
		
		<!-- if(msgObject.userId === dateNow){ -->
			<!-- startName = inputChangName; -->
			
		<!-- } -->
	<!-- }) -->
}

socket.on("chat message", (msgObject)=>{
	const message = document.createElement("li");
	const messageItem = document.createElement("span");
	messageItem.textContent = msgObject.userName +" : "+ msgObject.msg;
	if(msgObject.userId === dateNow){
		<!-- message.classList.add("right") -->
		messageItem.style.color = "red"
	}
	message.appendChild(messageItem);
	messageList.appendChild(message);
	
})
</script>
</body>

</html>