<!DOCTYPE html>
<html>
<head>
<title>Shopping</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="icon" type="image/x-icon" href="images\goat_animal_icon.png"> -->
<link rel="stylesheet" href="/public/src/css/yugi.css">

<!-- <script defer src="/public/src/js/login.js"></script> -->
<style>

</style>

</head>

<body>

<div class="div-table">
<table class="tableField">
  <tr>
    <td>1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td class="tdSpellandTrapZone">1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td class="tdSpellandTrapZone">1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td>1</td>
  </tr>
 <tr>
    <td>1</td>
    <td class="tdMonsterZone">1</td>
	<td class="tdMonsterZone">1</td>
    <td class="tdMonsterZone">1</td>
	<td class="tdMonsterZone">1</td>
    <td class="tdMonsterZone">1</td>
	<td>1</td>
  </tr>
  <tr>
    <td colspan="2">1</td>
    <!-- <td>1</td> -->
	<td class="tdSpellandTrapZone">1</td>
    <td>1</td>
	<td class="tdSpellandTrapZone">1</td>
    <td colspan="2">1</td>
	<!-- <td>1</td> -->
  </tr>
  <tr>
    <td>1</td>
    <td class="tdMonsterZone">1</td>
	<td class="tdMonsterZone">1</td>
    <td class="tdMonsterZone">1</td>
	<td class="tdMonsterZone">1</td>
    <td class="tdMonsterZone">1</td>
	<td>1</td>
  </tr>
  <tr>
    <td>1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td class="tdSpellandTrapZone">1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td class="tdSpellandTrapZone">1</td>
    <td class="tdSpellandTrapZone">1</td>
	<td>1</td>
  </tr>
  
</table>
</div>

</body>
</html>