<!DOCTYPE html>
<html>
<head>
<title>Shopping</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="icon" type="image/x-icon" href="images\goat_animal_icon.png"> -->
<link rel="stylesheet" href="/public/src/css/yugi.css">

<!-- <script defer src="/public/src/js/login.js"></script> -->
<style>

</style>

</head>

<body>

<div class="div-table">
<table class="tableField">
  <tr>
    <td class="tdDeckZone">Deck</td>
    <td class="tdSpellandTrapZone">-🔸-</td>
	<td class="tdSpellandTrapZone">--</td>
    <td class="tdSpellandTrapZone">Spell and Trap</td>
	<td class="tdSpellandTrapZone">--</td>
    <td class="tdSpellandTrapZone">-🔹-</td>
	<td class="tdExtraDeckZone">Extra Deck</td>
  </tr>
 <tr>
    <td class="tdGraveyardZone">Graveyard </td>
    <td class="tdMonsterZone">--</td>
	<td class="tdMonsterZone">--</td>
    <td class="tdMonsterZone">Monster</td>
	<td class="tdMonsterZone">--</td>
    <td class="tdMonsterZone">--</td>
	<td class="tdFieldZone">Field</td>
  </tr>
  <tr>
    <td class="tdRemoveZone" colspan="2">Remove Zone</td>
    <!-- <td>1</td> -->
	<td class="tdExtraMonsterZone">Extra Monster</td>
    <td>1</td>
	<td class="tdExtraMonsterZone">Extra Monster</td>
    <td class="tdRemoveZone" colspan="2">Remove Zone</td>
	<!-- <td>1</td> -->
  </tr>
  <tr>
    <td class="tdFieldZone">Field</td>
    <td class="tdMonsterZone">--</td>
	<td class="tdMonsterZone">--</td>
    <td class="tdMonsterZone">Monster</td>
	<td class="tdMonsterZone">--</td>
    <td class="tdMonsterZone">--</td>
	<td class="tdGraveyardZone">Graveyard </td>
  </tr>
  <tr>
    <td class="tdExtraDeckZone">Extra Deck</td>
    <td class="tdSpellandTrapZone">-🔹-</td>
	<td class="tdSpellandTrapZone">--</td>
    <td class="tdSpellandTrapZone">Spell and Trap</td>
	<td class="tdSpellandTrapZone">--</td>
    <td class="tdSpellandTrapZone">-🔸-</td>
	<td class="tdDeckZone">Deck</td>
  </tr>
  
</table>
</div>

</body>
</html>